<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Página de Teste</title>
</head>
<body>
	<h1>Fazendo uma Página para testar o thymeleaf</h1>

	<form th:action="@{/Produtos/Adicionar}" th:object="${produto}" method="post"></form>

	<label>Nome: </label>
	<input type="text" value="" name="nome">

	<label>Preco: </label>
	<input type="number" value="" name="preco">

	<button type="submit">Salvar</button>

</body>
</html>